html,body{
    height: 100%;
    font-size: 18px;
    line-height: 1;
    background-origin: rgb(10, 86, 136);
    color:white;
}
a{
    text-decoration: none;
}
ul,ol,li{
    list-style: none;
}
.wrapper{
    min-height: 99vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.items_container{
    max-width: 80vw;
    margin: 0 auto;
    padding: 0px 15px;
}
.item_body{
    display:grid;
    gap: 20px;
    grid-template-columns: repeat(3, minmax(15vw, 25vw));
}
.item{
    border: 2px solid black;
    /* background-color: green; */
    color: black;
}
.item_crypto{
    margin: 20px;
}
