header{
    width: 800px;
    height: 200px;
    background-color: rgb(105, 105, 224);
    text-align: center;
}
header div{
    color:white;
    font-size: 18px;
    text-align: left;
    padding-left: 120px;
}
nav{
    width: 100px;
    height: 400px;
    float: left;
    background-color: rgb(18, 18, 105);
    color:yellow;
}
section{
    width: 700px;
    height: 400px;
    display: inline-block;
    background-color: rgb(26, 89, 131);
}
section div{
    /* padding-top: 50px; */
    color:white;
    font-size: 18px;
    text-align: left;
    padding-left: 20px;
}
footer{
    width: 800px;
    height: 200px;
    background-color: green;
}